<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Выполнение ВДГО</title>
    <!-- версия для разработки, отображает полезные предупреждения в консоли -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
</head>
<body>
    <h3>Выполнение ТО ВДГО</h3>

    <li><a href="/login">Вход в систему</a></li>

    <div id="app"></div>
    <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>